* {
	box-sizing:border-box;
	/* manages widhth accordingly*/
	margin: 0;
}
body{
	font-family: "Raleway";
}
p {
	line-height: 2;
}
.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}
header {
	height: 100vh;
	*/ vh sets height according to window size*/
	overflow:hidden;
	*/ stops scrolling page*/
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: black;
}
.mainvideo{
	position: absolute;
	min-width: 100%;
	min-height: 100vh;
	z-index: -100;
}
h1 {
	margin: 16px;
	letter-spacing: 4px;
	font-size: 48px;
	font-weight: 500;
	border-radius: 25px;
	width: =200px;
	height: 90px;
	border: 5px solid #000000;
	background: yellow;
	padding: 12px;
}

.btn {
	min-width: 180px;
	color: black;
	padding: 12px;
	text-align: center;
	background: yellow;
	font-weight: 900;
	text-decoration: none;
	margin-top: 16px;
	border: 5px solid #000000;
	border-radius: 25px;
  width: =150px;
  height: 50px;
	margin: 1px;
}
i {
	margin: 0 8px;
}
 /* Nav Bar*/
 .logo{
	 height: 40px;
 }
 .logo img {
	 height:100%;
 }
 nav {
	 height: 60px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 padding: 20px;

	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 z-index: 200;
	 transition: all .4s;
 }
 nav.scroll {
	 background: white;
	 height: 50px;
	 box-shadow: 0 4px 10px  -1px rgba(0,0,0,0,.75);
 }
 nav.scroll .topnav li a {
	 color: black;
 }
 .topnav{
	 display: flex;
 }
 .topnav li {
	 list-style: none;
	 margin: 0px 100px 0px 50px;
 }
 .topnav li a {
	 color: yellow;
	 text-decoration: none;
	 text-decoration-style: solid;
 }
.topnav li a:hover{
	text-decoration: underline;
	font-size: 150%;
}
/*sections*/
section{
	padding: 16px;
	display: flex;
}
section thumbnail img {
height: 320px;
width: 200%;
position:relative;
margin-right: 10px;
float: right;
display: inline-block;
}
h2 {
	margin: 8px 0;
	background: yellow;
	widhth: 200px;
	padding: 8px;
}
/*gallery section*/
.gallery{
	background:url('poster.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.active-image{
	max-width: 700px;
	position: relative;
	margin: 0 auto;
}
.active-img-desc{
	position: absolute;
	bottom: 16px;
	left: 16px;
	right: 16px;
	background-color: yellow;
	padding: 16px;
	color: black;
}
.active-image img,.work-gallery .img-card img{
	width: 100%;
	border: 2px solid black;
}
.work-gallery .img-card .img-desc{
	display: none;
}
.work-gallery{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.work-gallery .img-card{
	width: 200px;
	margin : 8px;
	cursor: pointer;
}
 /* Faculty */

 .faculties {
   flex-direction: column;
 }

 .faculty {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }

 .faculty img {
   width:150px;
   border-radius:50%;
   margin: 24px;
 }

 h3 {
	 style: bold;
   margin:8px;
   font-weight:normal;
 }
